<%- include('header')%>
<%- include('navbar')%>

<h2 class="m-5">Please go to the create User to create User</h2>
<h2 class="m-5">Please go to the create task to create task</h2>


    


<%- include('footer')%>