<%- include('header')%>
<div >
    <nav class="navbar px-5" style="background-color: #809bce;">
        <h1> <a class="text-decoration-none text-dark fs-4" href="/">Task Manager</a> </h1>
        <div>
         <a class="text-decoration-none text-dark fs-4 me-5" href="/user">CreateUser</a>
         <a class="text-decoration-none text-dark fs-4 me-5" href="/task">CreateTask</a>
        </div>
        </nav>
      </nav>
    </div>



<%- include('footer')%>